//Variables
$white: #ffffff;
$primary:#686af1;; 
.primary{
  color: $primary;
}
.section-xs{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body {
  background-color: #5c6aed !important;
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  border-radius: 30px;
  background-color: #f1f1f9;

  .first-block,
  .second-block,
  .third-block {
    background-color: $primary;
    min-height: 50px;
    border-radius: 20px;
    color: $white;

    p {
      margin-bottom: 0;
    }
  }

  .special-rounded {
    border-radius: 20px;
  }

  .start {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $white;
    color: $primary;
    position: relative;
    border-right: 3px solid #dadada;
    border-top: 3px solid #dadada;
    border-bottom: 3px solid $primary;
    border-left: 3px solid $primary;
  
  }
  .data-analytics{
    box-shadow: 1px 3px 13px 2px rgba(0,0,0,.1);
  }
  .finance-flow{
    box-shadow: 1px 3px 13px 2px rgba(0,0,0,.1);
  }
  .upgrade-pro{
    background-color: $white;
    .upgrade-small-text{
      opacity: 60%;
    }
  }
  .border-bottom{
    border-bottom: 1px solid #dadada;
  }
  .left-menu-title{
    opacity: 60%;
  }
  .summary{
    background-color: $white;
  }
  .recent-order{
    .see-btn{
      
    }
  }
}
.border-right{
  border-right: 1px solid #dadada;
}