//Variables
$white: #ffffff;
$primary: #686af1;
;

.primary {
  color: $primary;
}

.section-xs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.section-lg {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

body {
  background-color: #5c6aed;
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  border-radius: 30px;
  background-color: #f1f1f9;

  .first-block,
  .second-block,
  .third-block {
    background-color: $primary;
    min-height: 50px;
    border-radius: 20px;
    color: $white;

    p {
      margin-bottom: 0;
    }
  }

  .third-block {
    flex: 1;
  }

  .special-rounded {
    border-radius: 20px;
  }

  .start {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $white;
    color: $primary;
    position: relative;
    border-right: 3px solid #dadada;
    border-top: 3px solid #dadada;
    border-bottom: 3px solid $primary;
    border-left: 3px solid $primary;
    transition: 0.3s all linear;
    &:hover{
      border-right: 3px solid $primary;
      border-top: 3px solid $primary;
      border-bottom: 3px solid #dadada;
      border-right: 3px solid #dadada;
      cursor: pointer;
    }

  }

  .data-analytics {
    box-shadow: 1px 3px 13px 2px rgba(0, 0, 0, .1);
  }

  .finance-flow {
    box-shadow: 1px 3px 13px 2px rgba(0, 0, 0, .1);
  }

  .upgrade-pro {
    background-color: $white;

    .upgrade-small-text {
      opacity: 60%;
    }
  }

  .border-bottom {
    border-bottom: 1px solid #dadada;
  }

  .left-menu-title {
    opacity: 60%;
  }

  .summary {
    .title {
      color: $primary;
    }

    background-color: #f9f8fd;

    .summary-container {
      background-color: #fefefe;
      position: relative;

      .summary-plus {
        width: 40px;
        height: 40px;
        color: $white;
        background-color: #f83851;
        position: absolute;
        border-radius: 50%;
        top: 50px;
        right: -18px;
      }
    }

    .data-div {
      border: 1px solid #686af140;
      width: 100%;
      padding: 0.3rem;
      margin: 0.3rem;
      border-radius: 10px;
      background-color: transparent;
      color: black;
    }
  }

}

.border-right {
  border-right: 1px solid #dadada;
}

.flex-setting {
  flex: 1;
}

input {
  width: 100%;
  border-radius: 10px;
  padding: 0.3rem;
  margin:0.3rem;
  border: 1px solid #dadada;
}
.expanded-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.expanded-page.active {
  opacity: 1;
  transform: scale(1);
}
.c-pointer{
  cursor: pointer;
}
@keyframes calendar {
  from {height: 150px; width: 150px;}
  to {height: 500px; width: 500px;}
}

/* The element to apply the animation to */
.calendar-animate {
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
  animation-duration: 2s;
  animation-name: calendar;
}

//Finance Flow
.bar-setting{
  background-color: white;
  height: 50lvw;
  width: 100%;

  .colors{
    color: blue;
  }
}
.recharts-legend-wrapper{
  display: none;
}